/* Basic Style */
.page {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header__image {
    width: 100%;
}

.header__link {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {

    .header {
        text-align: center;
    }

}

.main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.input-style {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.todo-item__row {
    display: flex;
}

.todo__incomplete-tasks,
.todo__completed-tasks {
    margin: 0;
    padding: 0px;
}

.todo-item,
.todo__title {
    list-style: none;
}

input,
.todo-item__btn {
    outline: none;
}

.todo-item__btn {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.todo-item__btn:hover {
    color: #3a3a3a;
}

/* Heading */
.todo__title {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.todo-item__input-text {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.todo-item__input-text:focus {
    color: #333;
}

/* New Task */
.new-task .todo__title {
    display: block;
    margin: 0 0 20px;
}

.todo-item__row .todo-item__input-text {
    width: 318px;
}

/* Task list */
.todo-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.todo-item > .todo-item__checkbox {
    margin: 0 10px;
}

.todo-item > .todo-item__label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.todo-item > .todo-item__input-text {
    width: 226px
}

.todo-item__btn.delete .delete_img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.todo-item__btn.delete .delete_img:hover {
    transform: rotateZ(0);
}

/* Completed */
.todo__completed-tasks .todo-item__label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.todo__incomplete-tasks .todo-item__input-text,
.todo__completed-tasks .todo-item__input-text {
    display: none;
}

.todo-item.edit-mode .todo-item__input-text,
.todo-item.edit-mode .todo-item__input-text {
    display: inline-block;
    width: 224px;
}

.todo-item.edit-mode .todo-item__label,
.todo-item.edit-mode .todo-item__label {
    display: none;
}